<div class="form-maincontainer">
  <div class="form-container">
    <div class="trillo-form" name="From" nm="From">
      <form data-container="">
        <div data-child-type="text" class="form-group">
          <label data-label="">License</label>
          <input data-input="" type="text" class="form-control" nm="License">
        </div>
        <div data-child-type="text" class="form-group">
          <label data-label="">CF Number</label>
          <input data-input="" type="text" class="form-control" nm="CFNumber">
        </div>
        <div data-child-type="text" class="form-group">
          <label data-label="">Phone</label>
          <input data-input="" type="text" class="form-control" nm="Phone">
        </div>
        <div class="g-recaptcha" id="rcaptcha" data-sitekey="6LfC_1YUAAAAAElhgOcWEuH2E4aspCPrxg3lwdKX" nm="correctCaptcha"></div>
        <div class="g-recaptcha" data-sitekey="6LfC_1YUAAAAAElhgOcWEuH2E4aspCPrxg3lwdKX" nm="correctCaptcha"></div>
      </form>
      <small class="form-control-feedback trillo-display-none js-field-error"></small>
      <small class="form-text text-muted trillo-display-none js-field-message"></small>
    </div>
  </div>
</div>